.homepage-main {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #7D9D9C;
}

body {
    background-color: #7D9D9C;
}


@media only screen and (max-width: 500px) {
    .homepage-main {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
    }
}


@media only screen and (min-width: 501px) and (max-width: 1000px) {
    .homepage-main {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
    }
}