section h1 {
    margin-bottom: 50px;
    color: #524439;
    font-size: 40px;
    color: rgba(143, 20, 83, 1);
}

.result-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    width: 250px;
    height: auto;
    border-top: 2px solid #CAB3A1;
    border-radius: 9px;
    margin: 15px auto;
    text-decoration: none;
    color: #524439;
    cursor: pointer;
    box-shadow: 10px 10px 15px #978271;
    backdrop-filter: blur(4px) saturate(150%);
}

.card:hover {
    transition: 1s;
    filter: brightness(125%);
}

.card-img {
    width: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.card h4 {
    padding: 7px;
}

.general-info-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.general-info-grid p {
    font-size: 14px;
}

.euro-icon {
    font-size: 12px;
}


@media only screen and (min-width: 501px) and (max-width: 1000px) {
    section h1 {
        margin-bottom: 50px;
        font-size: 40px;
        color: rgba(143, 20, 83, 1);
    }

    .result-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .card:hover {
        cursor: pointer;
    }

    .card-img {
        width: 100%;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }

    .card h4 {
        padding: 7px;
    }

    .general-info-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    .general-info-grid p {
        font-size: 14px;
    }

    .euro-icon {
        font-size: 12px;
    }
}